
  <div class="mx-auto row ">
    <br>
        <div class="add_comment ">
          <%= form_with(model: [ @todo, @todo.comments.build ],  remote: true) do |form| %>
          <div class="form-group">
            <%= form.label :description ,:class=>"sr-only col-sm-2"%>
            <%= form.text_field :description ,:class=>"comment_content form-control" ,:placeholder=>"Add the comment Hit Enter to post" %>
          </div>
        <% end %>
    </div>
  </div>
