
// delay(3000);
if($(".active-status").text()==1){
$('#myTable').prepend('<%= j render @todo %>');
}
else {
  var delimiter =
          $('<div class="page-delimiter" data-page="<%= params[:page] %>"></div>');
  $('#myTable').append(delimiter);
  // delay(3000);
  $('#myTable').html('<%= j render @todos %>');
  // $('.pagination').replaceWith('<%= j will_paginate @todos %>');
  // preparePagination(delimiter);
  <% unless @todos.next_page %>
  $('#infinite-scrolling .pagination').remove();
  <% end %>
}
$('#myTable tr ').each(function() {
  $('.up-link',this).show();
  $('.down-link',this).show();
   if($("#myTable tr:first-child").text()==$(this).text())
   {
     $('.up-link',this).css('visibility','hidden');
   }
   if($("#myTable tr:last-child").text()==$(this).text())
   {
     $('.down-link',this).css('visibility','hidden');
   }
});
